/*!
Theme Name: COGCPA Child Theme
Theme URI: https://www.cogcpa.com/
Template: gate39media
Author: The Robinson Agency team
Author URI: https://www.the-robinson-agency.com/
Description: This is a theme of Michael Coglianese CPA, P.C.
Requires at least: 6.8
Tested up to: 6.8.3
Requires PHP: 8.2.27
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: cogcpa
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready
*/
:root {
	--cogcpa-dark-blue: #1E3348;
	--cogcpa-blue: #017BB1;
	--cogpcpa-light-grey: #EFEFEF;
}